<% @familys.each do |family| %>
<div class="smalldiv">
  <% if family.contact.user_id = current_user %>
     <h2><%= family.contact.name %></h2>
     <hr class="style2" />
       <%= image_tag(family.contact.image.thumbnail.url, :class => "thumbnail inline", :id => "picture") %>
     <br />
     <i class="fa fa-map-marker" aria-hidden="true">
     <%= family.contact.address %><br />
     <%= family.contact.postalcode %></br />
     <%= family.contact.city %></i><br />
     <i class="fa fa-phone" aria-hidden="true">
     <%= family.contact.phone %></i><br />
     <i class="fa fa-envelope-o" aria-hidden="true">
     <%= family.contact.email %></i>
  <% end %>
</div>
<% end %>
