<div class="smalldiv">
<%= form_for @contact do |f| %>
<ul>
   <% @contact.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
   <% end %>
</ul>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_field :name, class: "form-control", placeholder: "Name*"  %>
      <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
      <%= f.text_field :postalcode, class: "form-control", placeholder: "Postal code" %>
      <%= f.text_field :city, class: "form-control", placeholder: "City" %>
      <%= f.text_field :phone, class: "form-control", placeholder: "06-12345678*" %>
      <%= f.text_field :email, class: "form-control", placeholder: "someone@example.com*" %>
    </div>
  </div>
  <i style="font-size: 10px;">* fields required</i>
  <br />
    <%= f.submit (@contact.new_record? ? "Create" : "Update"), class: "btn btn-primary" %>
    <%= link_to "Cancel", root_path, class: "btn btn-danger" %>
<% end %>
</div>
