<% @friends.each do |friend| %>
<div class="smalldiv">
  <% if friend.contact.user_id = current_user %>
     <h2><%= friend.contact.name %></h2>
     <hr class="style2" />
     <div class="picture">
       <%= image_tag(friend.contact.image.thumbnail.url, :class => "thumbnail inline") %>
     </div><br />
     <i class="fa fa-map-marker" aria-hidden="true">
     <%= friend.contact.address %><br />
     <%= friend.contact.postalcode %></br />
     <%= friend.contact.city %></i><br />
     <i class="fa fa-phone" aria-hidden="true">
     <%= friend.contact.phone %></i><br />
     <i class="fa fa-envelope-o" aria-hidden="true">
     <%= friend.contact.email %></i>
  <% end %>
</div>
<% end %>
