<% @works.each do |work| %>
<div class="smalldiv">
  <% if work.contact.user_id = current_user %>
     <h2><%= work.contact.name %></h2>
     <hr class="style2" />
     <i class="fa fa-map-marker" aria-hidden="true">
     <%= work.contact.address %><br />
     <%= work.contact.postalcode %></br />
     <%= work.contact.city %></i><br />
     <i class="fa fa-phone" aria-hidden="true">
     <%= work.contact.phone %></i><br />
     <i class="fa fa-envelope-o" aria-hidden="true">
     <%= work.contact.email %></i>
  <% end %>
</div>
<% end %>
