<div class="row">
  <div class="col-sm-6">
    <h2>Contacts</h2>
  </div>
  <div class="col-sm-6">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-file-o" aria-hidden="true"></i></a></li>
      <li role="presentation"><a href="#favourites" aria-controls="favourites" role="tab" data-toggle="tab">Favourites(<%= current_user.favourites.count %>)</a></li>
      <li role="presentation"><a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family(<%= current_user.familys.count %>)</a></li>
      <li role="presentation"><a href="#friends" aria-controls="friends" role="tab" data-toggle="tab">Friends(<%= current_user.friends.count %>)</a></li>
      <li role="presentation"><a href="#work" aria-controls="work" role="tab" data-toggle="tab">Work(<%= current_user.works.count %>)</a></li>
    </ul>
  </div>
</div>
<hr class="style1" />
<div class="row">
  <div class="col-sm-5">
  <% if @contacts.present? %>
    <%= render @contacts %>
  <% else %>
  <br />
    <p>There are no contacts containing the name: <%= params[:search] %>.</p>
  <% end %>
  </div>
  <div class="col-sm-7">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <%= render 'form' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="favourites">
        <%= render 'favourites' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="family">
        <%= render 'familys' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="friends">
        <%= render 'friends' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="work">
        <%= render 'works' %>
      </div>
    </div>
  </div>
</div>
