<div class="smalldiv">
<h2><%= @contact.name %></h2>
<i class="fa fa-map-marker" aria-hidden="true">
<%= @contact.address %><br />
<%= @contact.postalcode %><br />
<%= @contact.city %></i><br />
<i class="fa fa-phone" aria-hidden="true">
<%= @contact.phone %></i><br />
<i class="fa fa-envelope-o" aria-hidden="true">
<%= @contact.email %></i>
<br />
<hr />
<%= link_to "", root_path, class: 'fa fa-arrow-left' %>
<%= link_to "", edit_contact_path(@contact.id), class: 'fa fa-pencil-square-o' %>
<%= link_to "", contact_path(@contact), method: :delete, data: { confirm: "Are you sure?" }, class: 'fa fa-trash-o' %>
</div>
